
<html>
<body style="background-color: red;">
    <h1>Personal Info</h1>

    <form method="post" action="/data">
        <input type="text" name ='first_name' placeholder="first name" required="'required">
        <input type="text" name ='l_name' placeholder="l name" required="'required">
        <input type="number" name ='phone_number' placeholder="phone number" required="'required">
        <input type="text" name ='email' placeholder="email" required="'required">
    <button>submit</button>
</form>
    


</body>
</html>